<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="../../../assets/img/dog-api-logo.svg" alt="" />
      <br>
      <br>
      
      <h3>Listado de razas de perros.</h3>
      
      <br>
      <br>
    </div>

    <div>
      <div class="box">
        <table class="table table-striped">
          <thead class="theadColor">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Imagen de la raza</th>
                <th scope="col">Nombre de la raza</th>
                <th scope="col">Cantidad de perros inscritos</th>
                <th scope="col">Opciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let breed of breeds; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                      <div>
                        <img class="boxImage" src="{{ breed.image }}" alt="">
                      </div>
                  </td>
                  <td>{{ breed.name }}</td>
                  <td>{{ breed.qty }}</td>
                  <td>
                      <button class="btn btn-primary" style="margin: 2px;" [routerLink]="['addDogs']">Agregar</button>
                      <button class="btn btn-success" style="margin: 2px;" [routerLink]="['listDogs']">Listar</button>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>